<div class="quizz_container">
  <div class="quizz_logo">
    <img src="../../../assets/images/logo.png" alt="" />
    <h3>{{ title }}</h3>
  </div>

  <div class="quizz_questions" *ngIf="!finished">
    <h3>{{ questionSelected.question }}</h3>
  </div>

  <div class="quizz_options" *ngIf="!finished">
    <button
      *ngFor="let opt of questionSelected.options; let i = index"
      (click)="buttonPress(opt.alias)"
      class="btn-option"
    >
      {{ opt.id }} - {{ opt.name }}
    </button>
  </div>

  <div class="quizz_results" *ngIf="finished">
    <h1>O seu resultado é:</h1>
    <p [ngStyle]="{ fontWeight: 'bold', color: eVilao ? 'Red' : '#00FF7F' }">
      {{ resultPhrase }}
    </p>
  </div>
</div>
